.cardPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.selectBtn {
  background: rgb(10,102,194);
  border: 1px solid rgb(10,102,194);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 10px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.selectBtn:hover,
.selectBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(10,102,194);
}

.selectBtn:active {
  opacity: .5;
}

@media only screen and (max-width: 600px) {
 .cardPage{
   flex-direction: column;
  }
}